<% provide(:title, "My Learnings") %>

<div class='row'>
  <h1><%= @user.email %> Learnings</h1>
  <%= gravatar_for @user.email %>
</div>

<div class="row">
  <ol class="small-block-grid-3">
    <% @learnings.each do |learning| %>
      <div class='12-small columns'>
        <li><%= link_to learning.title, learning_path(learning.id) %></li>
      </div>
    <% end %>
  </ol>
</div>
