<div class="contain-to-grid">
  <div class='row'>
    <ul class='inline-list footer_nav'>
      <li><%= link_to 'Tips', tips_path %></li>
      <li class="active"><%= link_to 'Contact', new_message_path %></li>
    </ul>
  </div>
</div>
