<h1> Groups </h1>

<div><%= link_to "Create New Group", new_group_path %></div>
  <br>
<ul class="small-block-grid-2">
  <%  @groups.each do |group| %>
    <li><%= image_tag group.tutorial.image_url(:thumb) if group.tutorial.image? %>
    <%= link_to group.name, group_path(group), class: 'group_name' %></li>
  <% end %>
</ul>
