<% provide(:title, "My Page") %>

<h1><%= current_user.email %> Group</h1>
<%= gravatar_for current_user %>

<div class="row">
  <ul class="small-block-grid-3">
    <% @memberships.each do |membership| %>
      <li><%= link_to membership.group.name, group_path(membership.group_id) %></li>
    <% end %>
  </ul>
</div>
