<div class='row'>
  <div class='small-12 columns'>
  <div class='small-6 small-centered columns' id='center-ul'>
    <ul><h1>Why?</h1>
      <p>Solve problems faster</p>
      <p>Gain multi-perspective on problems</p>
      <p>Learn by teaching</p>
      <p>Face hard questions together</p>
    </ul>
  </div>
  </div>

  <div class='small-12 columns'>
    <ul><h2>How Does It Work?</h2>
      <p>Connect with others on topics</p>
      <p>Share problems and solutions</p>
      <p>Keep each other accountable</p>
      <p>Track your progress</p>
    </ul>
  </div>

  <div class='small-6 small-centered columns'>
    <ul><h3>What?</h3>
      <p></p>
      <p>Learn more, faster, and better together</p>
      <div class='sign_up_size'><%= link_to 'Join Today', new_user_registration_path %></div>
    </ul>
  </div>
</div>
