<div class='row'>
  <div class='small-12 columns'>
    <div class='small-6 small-centered columns' id='center-ul'>
      <ol><h1>Tips for Success</h1>
        <h4><li>Use <a href="http://screenhero.com/">ScreenHero</a> or <a href="http://www.google.com/hangouts/">Google Hangout</a></li></h4>
        <h4><li>Set learning <a href="http://topachievement.com/smart.html">goals</a></li></h4>
        <h4><li>Learn by teaching</li></h4>
        <h4><li>Consistentently learn</li></h4>
        <h4><li>Be patient. Realize it takes time</li></h4>
        <h4><li>Share what worked</li></h4>
        <h4><li>Share what didn't work</li></h4>
        <h4><li>Meet at least once a week</li></h4>
        <h4><li>Collaborate</li></h4>
        <h4><li>Make commitments in the beginning</li></h4>
      </ol>
    </div>
  </div>
</div>
